/* header */

.titre {
    /* background-image: url('/public/img/gallery/nachomarushka22.jpg'); */
    margin: 0;
    height: 150px;
    position: sticky;
}

nav {
    background-color: rgba(0, 0, 0, 0.479);
    height: 65px;
    width: 100%;
    margin: 0;
    padding: auto;
    position: absolute;
    bottom: 0;
}

nav ul.navtop {
    list-style-type: none;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    overflow: hidden;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.logo {
    height: 40px;
}

nav ul li a:hover {
    background-color: rgba(1, 1, 1, 0.815);
    text-decoration: none;
    color: white;
}

/* body */

body {
    background-image: url('/public/img/gallery/jmk\ &\ piero\ RA.jpg');
    background-repeat: no-repeat;
    background-position: center 0%;
    
}

main {
    /* background-color: #f4c946a4; */
    height: 100vh;
}

.siteTitle {
    text-align: center;
    color: #ef84c863;
    /* background-color: royalblue;  */
    font-size: 15vh;
    margin: 25px;
    text-shadow: 1px 1px 0 #000;
}

.section1 {
    background-color: #ef84c863;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    border: 2px solid black;
    transition: 1s;
}

.section1:hover {
    box-shadow:-5px -5px 5px pink,
    -5px 5px 5px pink,
    5px -5px 5px pink,
    5px 5px 5px pink;
}

.section1>div {
    text-align: justify;
    width: 30vw;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.445);
}

.titre2 {
    text-align: center;
}